---
import { getCollection } from "astro:content";
import { QuestionContainer } from "../../../components/questions/question-container";
import BaseLayout from "../../../layouts/base-layout.astro";
import { getQuestionMediaSrc } from "../../../lib/utils";

export async function getStaticPaths() {
  const medias = import.meta.glob<{ default: ImageMetadata | string }>("/src/assets/**");
  const questions = await getCollection("questionsEn");

  return await Promise.all(
    questions.map(async (question) => {
      let mediaSrc = await getQuestionMediaSrc(question.data.mediaSrc, medias);

      return {
        params: { id: question.id },
        props: { question, mediaSrc },
      };
    }),
  );
}

const { question, mediaSrc } = Astro.props;

const locale = Astro.currentLocale ?? "fr";
---

<BaseLayout title={`Question #${question.id}`}>
  <div class="relative flex h-full flex-col items-center justify-center">
    <QuestionContainer client:load question={question.data} locale={locale} mediaSrc={mediaSrc} />
  </div>
</BaseLayout>
