---
import { getCollection } from "astro:content";
import { BrainIcon, LightbulbIcon } from "../../components/common/icons";
import { buttonVariants } from "../../components/ui/button";
import BaseLayout from "../../layouts/base-layout.astro";

import { getRelativeLocaleUrl } from "astro:i18n";
import { CATEGORIES } from "../../content.config";

const optionsUrl = getRelativeLocaleUrl(Astro.currentLocale ?? "fr", "/options");
const questionsCount = (await getCollection("questionsFr")).length;
const categoriesCount = CATEGORIES.options.length;
---

<BaseLayout title="Quiz">
  <div class="justify flex h-full flex-col items-center justify-center">
    <div class="flex max-w-5xl flex-col items-center gap-16">
      <div class="flex flex-col items-center gap-8">
        <div class="flex items-center gap-2">
          <BrainIcon class="h-16 w-16" />
          <LightbulbIcon class="h-16 w-16" />
        </div>
        <h1 class="flex text-7xl font-extrabold text-primary">QuizZ</h1>
      </div>
      <div class="flex flex-col gap-2 rounded-xl border bg-card p-6 text-center text-card-foreground shadow">
        <p class="text-lg font-medium">
          Test your knowledge with a quiz game centered around North America (mostly Québec). Choose from a variety of
          categories and battle with friends to see who knows the most.
        </p>
        <p class="text-sm text-muted-foreground">
          This game is meant to be played in person with friends. It is not a multiplayer online game and there is no
          score tracking or place to enter your answers. This site only provides the questions and the answers to them.
        </p>
        <p class="text-xs font-light text-muted-foreground/60">
          If you are interested in using your own questions, you can find the source code & instructions for this
          project on
          <a href="https://github.com/Torbraw/quiz" target="_blank" class="underline-offset-1 hover:underline">
            GitHub
          </a>
        </p>
      </div>
      <div class="flex flex-row gap-32">
        <div class="flex flex-col items-center bg-muted w-40 h-24 p-4 justify-center rounded-xl gap-2">
          <p class="text-4xl font-bold text-primary">{questionsCount}</p>
          <p class="text-sm text-muted-foreground">Questions</p>
        </div>

        <div class="flex flex-col items-center bg-muted w-40 h-24 p-4 justify-center rounded-xl gap-2">
          <p class="text-4xl font-bold text-primary">{categoriesCount}</p>
          <p class="text-sm text-muted-foreground">Categories</p>
        </div>
      </div>
      <a href={optionsUrl} aria-label="start-game" class:list={[buttonVariants({ size: "lg" })]}>Start a new game</a>
    </div>
  </div>
</BaseLayout>
