---
import BaseLayout from "../layouts/base-layout.astro";
---

<BaseLayout title="Quiz">
  <div class="justify flex h-full flex-col items-center justify-center">
    <div class="flex max-w-5xl flex-col items-center gap-16">
      <div class="flex flex-col items-center gap-8">
        <div class="flex items-center gap-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-16 w-16" viewBox="0 0 256 256">
            <path
              fill="currentColor"
              d="M248 124a56.11 56.11 0 0 0-32-50.61V72a48 48 0 0 0-88-26.49A48 48 0 0 0 40 72v1.39a56 56 0 0 0 0 101.2V176a48 48 0 0 0 88 26.49A48 48 0 0 0 216 176v-1.41A56.09 56.09 0 0 0 248 124M88 208a32 32 0 0 1-31.81-28.56A56 56 0 0 0 64 180h8a8 8 0 0 0 0-16h-8a40 40 0 0 1-13.33-77.73A8 8 0 0 0 56 78.73V72a32 32 0 0 1 64 0v68.26A47.8 47.8 0 0 0 88 128a8 8 0 0 0 0 16a32 32 0 0 1 0 64m104-44h-8a8 8 0 0 0 0 16h8a56 56 0 0 0 7.81-.56A32 32 0 1 1 168 144a8 8 0 0 0 0-16a47.8 47.8 0 0 0-32 12.26V72a32 32 0 0 1 64 0v6.73a8 8 0 0 0 5.33 7.54A40 40 0 0 1 192 164m16-52a8 8 0 0 1-8 8h-4a36 36 0 0 1-36-36v-4a8 8 0 0 1 16 0v4a20 20 0 0 0 20 20h4a8 8 0 0 1 8 8m-148 8h-4a8 8 0 0 1 0-16h4a20 20 0 0 0 20-20v-4a8 8 0 0 1 16 0v4a36 36 0 0 1-36 36"
            >
            </path>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-16 w-16" viewBox="0 0 256 256">
            <path
              fill="currentColor"
              d="M176 232a8 8 0 0 1-8 8H88a8 8 0 0 1 0-16h80a8 8 0 0 1 8 8m40-128a87.55 87.55 0 0 1-33.64 69.21A16.24 16.24 0 0 0 176 186v6a16 16 0 0 1-16 16H96a16 16 0 0 1-16-16v-6a16 16 0 0 0-6.23-12.66A87.59 87.59 0 0 1 40 104.5c-.26-47.67 38.26-87.35 85.88-88.5A88 88 0 0 1 216 104m-16 0a72 72 0 0 0-73.74-72c-39 .92-70.47 33.39-70.26 72.39a71.64 71.64 0 0 0 27.64 56.3A32 32 0 0 1 96 186v6h24v-44.69l-29.66-29.65a8 8 0 0 1 11.32-11.32L128 132.69l26.34-26.35a8 8 0 0 1 11.32 11.32L136 147.31V192h24v-6a32.12 32.12 0 0 1 12.47-25.35A71.65 71.65 0 0 0 200 104"
            >
            </path>
          </svg>
        </div>
        <h1 class="flex text-7xl font-extrabold text-primary">QuizZ</h1>
      </div>
      <div
        class="flex flex-col gap-2 rounded-2xl border border-border bg-card p-6 text-center text-lg font-medium text-card-foreground"
      >
        <p>
          Test your knowledge with a quiz game centered around themes from North America (and mostly Québec). Choose
          from a variety of categories and battle with friends to see who knows the most.
        </p>
        <p class="text-sm text-muted-foreground">
          This game is meant to be played in person with friends. It is not a multiplayer online game and there is no
          score tracking or place to enter your answers. This site only provides the questions and the answers to them.
        </p>
        <p class="text-xs text-muted-foreground/60">
          If you are interested in using your own questions, you can find the source code for this project on
          <a href="https://github.com/Torbraw/quiz" target="_blank" class="underline-offset-1 hover:underline">
            GitHub
          </a>
        </p>
      </div>
      <a
        href="/options"
        aria-label="start-game"
        class="rounded-2xl bg-primary px-8 py-6 text-xl font-bold text-primary-foreground shadow-lg shadow-accent hover:bg-primary/90"
      >
        Start a new game
      </a>
    </div>
  </div>
</BaseLayout>
