---
import BaseLayout from "../layouts/base-layout.astro";
---

<BaseLayout title="Quiz">
  <div class="justify flex h-full flex-col items-center justify-center">
    <div class="flex max-w-5xl flex-col items-center gap-16">
      <h1 class="flex text-7xl font-extrabold text-primary">Welcome to the Quiz</h1>
      <div
        class="flex flex-col gap-2 rounded-2xl border border-border bg-card p-6 text-center text-lg font-medium text-card-foreground"
      >
        <p>
          Test your knowledge with a quiz game centered around themes from North America (and mostly Québec). Choose
          from a variety of categories and battle with friends to see who knows the most.
        </p>
        <p class="text-sm text-muted-foreground">
          This game is meant to be played in person with friends. It is not a multiplayer online game and there is no
          score tracking or place to enter your answers. This site only provides the questions and the answers to them.
        </p>
        <p class="text-xs text-muted-foreground/60">
          If you are interested in using your own questions, you can find the source code for this project on
          <a href="https://github.com/Torbraw/quiz" target="_blank" class="underline-offset-1 hover:underline">
            GitHub
          </a>
        </p>
      </div>
      <a
        href="/options"
        aria-label="start-game"
        class="rounded-2xl bg-primary px-8 py-6 text-xl font-bold text-primary-foreground shadow-lg shadow-accent hover:bg-primary/90"
      >
        Start a new game
      </a>
    </div>
  </div>
</BaseLayout>
