---
import { getCollection } from "astro:content";
import { BrainIcon, LightbulbIcon } from "../components/common/icons";
import { buttonVariants } from "../components/ui/button";
import BaseLayout from "../layouts/base-layout.astro";
import { getRelativeLocaleUrl } from "astro:i18n";
import { CATEGORIES } from "../content.config";

const optionsUrl = getRelativeLocaleUrl(Astro.currentLocale ?? "fr", "/options");
const questionsCount = (await getCollection("questionsFr")).length;
const categoriesCount = CATEGORIES.options.length;
---

<BaseLayout title="Quiz">
  <div class="justify flex h-full flex-col items-center justify-center">
    <div class="flex max-w-5xl flex-col items-center gap-16">
      <div class="flex flex-col items-center gap-8">
        <div class="flex items-center gap-2">
          <BrainIcon class="h-16 w-16" />
          <LightbulbIcon class="h-16 w-16" />
        </div>
        <h1 class="flex text-7xl font-extrabold text-primary">QuizZ</h1>
      </div>
      <div class="flex flex-col gap-2 rounded-xl border bg-card p-6 text-center text-card-foreground shadow">
        <p class="text-lg font-medium">
          Testez vos connaissances avec un jeu-questionnaire centré sur l'Amérique du Nord (principalement le Québec).
          Choisissez parmi une variété de catégories et affrontez des amis pour voir qui en sait le plus.
        </p>
        <p class="text-sm text-muted-foreground">
          Ce jeu est destiné à être joué en personne avec des amis. Ce n'est pas un jeu multijoueur en ligne et il n'y a
          pas de suivi des scores ou un endroit pour saisir vos réponses. Ce site fournit uniquement les questions et
          les réponses à ceux ci.
        </p>
        <p class="text-xs font-light text-muted-foreground/60">
          Si vous souhaitez utiliser vos propres questions, vous pouvez trouver le code source et les instructions pour
          ce projet sur
          <a href="https://github.com/Torbraw/quiz" target="_blank" class="underline-offset-1 hover:underline">
            GitHub
          </a>
        </p>
      </div>
      <div class="flex flex-row gap-32">
        <div class="flex flex-col items-center bg-muted w-40 h-24 p-4 justify-center rounded-xl gap-2">
          <p class="text-4xl font-bold text-primary">{questionsCount}</p>
          <p class="text-sm text-muted-foreground">Questions</p>
        </div>

        <div class="flex flex-col items-center bg-muted w-40 h-24 p-4 justify-center rounded-xl gap-2">
          <p class="text-4xl font-bold text-primary">{categoriesCount}</p>
          <p class="text-sm text-muted-foreground">Catégories</p>
        </div>
      </div>
      <a href={optionsUrl} aria-label="start-game" class:list={[buttonVariants({ size: "lg" })]}
        >Commencez une nouvelle partie</a
      >
    </div>
  </div>
</BaseLayout>
