---
import { GithubIcon } from "./common/icons";
import ThemeToggle from "./theme-toggle.astro";
import { buttonVariants } from "./ui/button";
---

<sidebar class="flex min-w-36 flex-col items-center gap-12 border-r py-4">
  <h2 class="text-2xl font-bold">
    <a href="/" class="hover:text-foreground/90">QuizZ</a>
  </h2>
  <nav class="flex-1">
    <ul>
      <li>
        <a href="/options" aria-label="new-game" class:list={[buttonVariants({ variant: "link" })]}>New Game</a>
      </li>
    </ul>
  </nav>
  <div class="flex flex-row gap-2">
    <ThemeToggle />
    <a
      href="https://github.com/Torbraw/quiz"
      target="_blank"
      class:list={[buttonVariants({ variant: "ghost", size: "icon" })]}
      aria-label="github"
    >
      <GithubIcon class="h-6 w-6" />
    </a>
  </div>
</sidebar>
