---
import { MoonIcon, SunIcon } from "./common/icons";
import { Button } from "./ui/button";
---

<Button type="button" variant="ghost" size="icon" id="theme-toggle">
  <SunIcon class="block h-6 w-6 dark:hidden" />
  <MoonIcon class="hidden h-6 w-6 dark:block" />
</Button>

<script is:inline>
  const theme = localStorage.getItem("theme") ?? "dark";
  const html = document.querySelector("html");
  html.classList.add(theme);

  const themeToggle = document.querySelector("#theme-toggle");

  themeToggle.addEventListener("click", () => {
    html.classList.toggle("dark");
    localStorage.setItem("theme", html.classList.contains("dark") ? "dark" : "light");
  });
</script>
