---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/base-layout.astro";

export async function getStaticPaths() {
  const questions = await getCollection("questions");
  return questions.map((question) => ({
    params: { id: question.id },
    props: { question },
  }));
}

const { question } = Astro.props;
---

<BaseLayout title={`Question #${question.id}`}>
  {question.data.question}
  <button id="next-btn">Test</button>
</BaseLayout>

<script is:inline>
  // Test code, remove later
  const queryParams = new URLSearchParams(window.location.search);
  const hideBtn = queryParams.get("hideBtn");
  if (hideBtn === "true") {
    const btn = document.getElementById("next-btn");
    btn?.classList.add("hidden");
  }

  const btn = document.getElementById("next-btn");
  btn?.addEventListener("click", () => {
    console.log("clicked");
  });
</script>
