---
import { getCollection } from "astro:content";
import { QuestionContainer } from "../../components/questions/question-container";
import BaseLayout from "../../layouts/base-layout.astro";

export async function getStaticPaths() {
  const questions = await getCollection("questions");
  return questions.map((question) => ({
    params: { id: question.id },
    props: { question },
  }));
}

const { question } = Astro.props;
---

<BaseLayout title={`Question #${question.id}`}>
  <div class="flex h-full flex-col items-center justify-center relative">
    <QuestionContainer client:load question={question.data} />
  </div>
</BaseLayout>
